@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: Segoe UI;
}
h2{
  color: #1890FF;
}
p{
  color: #8C8C8C;
  font-size: 1.5rem;
}
a{
  text-decoration: none;
}
